---
layout: layout.liquid
title: explorer_logs
---

{% comment %}
    blog posts written by DeepSeek, asked "please write two exploration log posts written from the perspective of a lone human interstellar explorer and their adventures around the galaxy.
    please be concise, and perhaps with some themes of either nihility or existentialism!"
{% endcomment %}

<h1>floating in space...</h1>
<p>the collected logs of a lone interstellar explorer writing from the galaxy.</p>
{% include 'blog_layout' %}

<img id="graphic" alt="" src="/images/bg.png" />
