<div id="blog-posts">
  <div class="blog_post">
    <h2><a href="/log01/">[log_01]</a></h2>
    <p>{% details '3047.12.15' 'orbiting Kepler-186f' %}</p>
    <p><a href="/log01/">read log</a></p>
  </div>

<div class="blog_post">
    <h2><a href="/log02/">[log_02]</a></h2>
    <p>{% details '3048.03.22' 'traversing the Orion Nebula' %}</p>
    <p><a href="/log02/">read log</a></p>
  </div>
</div>